.nav-custom {
   background-color: #221f1f;
}

.navbar.navbar-expand-lg.navbar-dark.nav-custom li a {
   color: #FFFFFF;
}

.navbar.navbar-expand-lg.navbar-dark.nav-custom li a:hover {
   color: #ffff01;
}

.img-fluid {
   height: 100%;
}

body {
   background-color: rgb(224, 223, 223);
}

.bg-dark {
   background-color: #221f1f;
}
