{% extends 'base.html' %}
{% block content %}

{% if category.id %}

<h1>{{ category.name }}:</h1>

<ul>
    {% for post in category_posts %}
    <li class="list-group-item list-group-item-dark m-4"><strong><a href="{% url 'blog-detail' post.pk  %}">
                {{ post.title | title }} </a></strong> :
        <p>{{ post.author.username | title }} |
            {{ post.blog_snippet | safe }} {{ post.date_created }}</p>


    </li>
    {% endfor %}
</ul>
{% else %}
<li class="list-group-item list-group-item-dark m-4"><strong>{{ post.category.name }}</strong> :
<li class="list-group-item list-group-item-dark m-4">There are no posts here yet, Why Don't you make
        one?</li>
<a class="btn btn-warning m-4" href="{% url 'home' %}">No take me back !</a>
{% endif%}
{% endblock %}