{% extends 'base.html' %}
{% block content %}
{% if category_posts %}
<h1>{{ category.name }}:
</h1>
<ul>
  {% for post in category_posts %}
  <li class="list-group-item list-group-item-dark m-4">
    <strong>
      <a href="{% url 'blog-detail' post.pk  %}">
        {{ post.title | title }} 
      </a>
    </strong> :
    <p>{{ post.author.username | title }} |
      {{ post.blog_snippet | safe }} {{ post.date_created }}
    </p>
  </li>
  {% endfor %}
</ul>
{% else %}
<li class="list-group-item list-group-item-dark m-4">
  <strong>{{ category.name }}
  </strong>
<li class="list-group-item list-group-item-dark m-4">There are no posts in this category yet, Why don't you make
  one?
</li>
<a class="btn btn-warning m-4" href="{% url 'home' %}">Go Back
</a>
{% if user.is_authenticated %}
<a class="btn btn-warning m-4" href="{% url 'add_post' %}">Create a Post!
</a>
{% endif %}
{% endif %}
{% endblock %}
