{% extends 'base.html' %}



{% block content %}

{% if category_posts %}

    <h1>{{ cate }}</h1>

    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'blog-detail' post.pk  %}">
            {{ post.title }}</a>
            {{ post.author.username}}
            {{ post.body | linebreaks | slice:":200"}} {{ post.date_created }}
            <small> <br/>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <a class="btn btn-dark" href="{% url 'edit_post' post.pk  %}">Edit</a>
                
                    <a class="btn btn-danger" href="{% url 'delete_post' post.pk  %}">Delete</a>
                    {% endif %}
                {% endif %}
            </small>
    </li>
    {% endfor %}
    </ul>
{% endif%}
{% endblock %}