{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">
  <div class="row g-0">
    <div class="col-auto mt-3 left">
      <div class="row">
        {% for post in object_list %}
        <div class="col-md-auto index-card">
          <div class="card mb-3">
            <div class="card-body">
              <div class="image-container">
                {% if post.post_image.url %}
                <img src=" {{ post.post_image.url }}" class="card-img-top" alt="User Image">
                {% else %}
                <img
                  src="https://res.cloudinary.com/matts-cloud/image/upload/v1645486109/android-chrome-192x192_l6qs7u.png"
                  alt="Placeholder user image">
                {% endif %}
              </div>
              <h2 class="card-title">
                <p class="author"><a href="{% url 'blog-detail' post.pk  %}">
                    {{ post.title }}</a></p>
              </h2>
              <p class="card-text">{{ post.blog_snippet | safe}}</p>
              </a>
              <hr />
              <p class="card-text h6">{{ post.date_created }} | <a href="{% url 'category' post.category|slugify %}">
                {{post.category|title}}</a> | {{ post.author.username | title }}</p>
              {% if user.is_authenticated %}
              {% if user.id == post.author.id %}
              <a class="btn btn-success" href="{% url 'edit_post' post.pk  %}">Edit</a>
              <a class="btn btn-danger" href="{% url 'delete_post' post.pk  %}">Delete</a>
              {% endif %}
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary"> NEXT &raquo;</a></li>

        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>

  {% endblock %}